.rating-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    background-color: white;
    border-radius: 25px;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
  }
  
  
.rating-button{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    border: 1px solid black

}

.rating-button-hover{
    background-color: #8f8f8f;
}

.rating-button-active{
    background-color: black;
}
  
  
