.main-box{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-main{
    display: flex;
}



.text-box{
    background: #EDB6D2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.component-box{
    display: flex;
    flex-direction: column;
}

.non-welcome{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.left-image{
    position: relative;
}
.shoeImg-abs{
    position: absolute;

}
.arrowImg-abs{
    position: absolute;
}

.sm-right-align{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    text-align: end;
    width: 100%;
}

@media (min-width: 1280px) {
    .shoeImg-abs{
        width: 40vw;
        opacity: 1;
        top:-20vh;
        left: -60px;
    
    }
    .arrowImg-abs{
        width: 40vw;
        top:-30vh;
        z-index: 10;
        opacity: 0.6;
    }
}

@media (min-width:1024px) {
 
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .subcomponent-box{
        width: 75%;
    }
    .shoeImg-abs{
        width: 30vw;
        opacity: 1;
        top:-20vh;
        left: 0vw;
    
    }
    .arrowImg-abs{
        width: 25vw;
        top:-40vh;
        z-index: 10;
        opacity: 0.6;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .subcomponent-box{
        width: 80%;
    }
    .shoeImg-abs{
        width: 30vw;
        opacity: 1;
        top:-15vh;
        left: 0vw;
    
    }
    .arrowImg-abs{
        width: 25vw;
        top:-25vh;
        z-index: 10;
        opacity: 0.6;
    }
}

@media (min-width: 640px) and (max-width: 767px) {

}
@media (min-width: 768px){
    .right-align{
        flex-direction: column;
        width: 100%;
        justify-content: end;
        align-items: end;
    }
    .welcome{
        align-items: end;
        width: 50%;
    }
    .hide-on-big{
        display: none;
    }
    .sub-main{
        width: 90%;
    }
}
@media (max-width: 767px){
    .shoeImg-abs{
        width: 70vw;
        opacity: 1;
        top:-45vh;
        left: 0vw;
        z-index: -2;
        
    }
    .arrowImg-abs{
        width: 60vw;
        top:-50vh;
        z-index: -1;
        opacity: 0.6;
        left:-40px;
    }
    .right-align{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .welcome{
        align-items: center;
        width: 100%;
    }
}
@media (max-width: 639px) {

}