.main-heading{
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    font-size: 6vh;
}
.sub-heading{
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 4vh;

}
.box-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 3vh;

}
.description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;

}
.label{
    font-family: 'Signika', sans-serif;
    color: white;
    font-size: 2vh;

}
.error{
    color: #FA1C1C;
    font-size: 2vh;

}


