.main-box{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-main{
    display: flex;
}

.right-align{
    flex-direction: column;
    width: 100%;
    justify-content: end;
    align-items: end;
}

.text-box{
    background: #EDB6D2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.component-box{
    display: flex;
    flex-direction: column;
}
.welcome{
    align-items: end;
    width: 50%;
}
.non-welcome{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.left-image{
    position: relative;
}
.shoeImg-abs{
    position: absolute;
    width: 40vw;
    opacity: 1;
    top:-20vh;
    left: -60px;

}
.arrowImg-abs{
    position: absolute;
    width: 40vw;
    top:-30vh;
    z-index: 10;
    opacity: 0.6;
}
.shadow-abs{
    position: absolute;
    width: 30vw;
    height: 20px;
    bottom: -10vh;

}