.main-box{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-main{
    display: flex;
}

.right-align{
    flex-direction: column;
    width: 100%;
    justify-content: end;
    align-items: end;
}

.text-box{
    background: #EDB6D2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.component-box{
    display: flex;
    flex-direction: column;
}
.welcome{
    align-items: end;
    width: 50%;
}
.non-welcome{
    width: 100%;
    justify-content: center;
    align-items: center;
}